.pfnf-intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 45vw;       
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    /* border: #2b2b2b 1px solid; */
}

.pfnf-intro-container-box{
    display: flex;
    width: fit-content; 
    flex-direction: column; 
    background-color: var(--bg-color-rev-intro); 
    border-radius: 40px; 
    justify-content: center; 
    align-items: center; 
    padding: 2vw;
    margin: 2vw;
    margin-top: 14vw;
}
.pfnf-intro-container button {
    display: inline;
    padding: 10px 20px;
    border-radius: 40px;
    color: var(--text-color);
    background-color: var(--bg-color-rev);
    font-size: 1.2rem;
}

.pfnf-dsc-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vw;
}
.pfnf-dsc-container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55vw;
    min-width: 285px;
    height: auto;
    min-height: 35vw;       
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    margin-right: 2vw;
    border-radius: 40px;
    
}
.pfnf-dsc-container-box h1{
    color: var(--text-color-rev); 
    text-align: center; 
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    margin-bottom: 1vw;
    white-space: nowrap;
}
.pfnf-dsc-container-box P{
    background-color: rgb(255, 255, 255); 
    border-radius: 20px; 
    width: fit-content; 
    padding: 0.5vw 2vw; 
    margin-bottom: 1vw;    
}
.pfnf-event-history {    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pfnf-event-history  h1{    
    color: var(--text-color-rev); 
    text-align: center; 
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    margin-bottom: 1vw;
    white-space: nowrap;
}

.pfnf-event-history-container {
    max-width: 1200px; /* Optional */
    margin: 4vw;
    padding: 4vw;
    border-radius: 40px;
    background-color: #f7fafc; /* same as bg-gray-100 */
}
.pfnf-testimonial {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2VW;
}
.pfnf-testimonial h1 {    
    color: var(--text-color-rev); 
    text-align: center; 
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    margin-bottom: 1vw;
    white-space: nowrap;
}